<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="css/owfont-regular.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>City Weather Information</title>
</head>
<body>
<h1>City Weather Information</h1>
<ul>
    {{#citySummary}}
    <li>
        <h2>{{city}}</h2>
        <div>
            <i class="owf owf-{{code}} owf-4x" style="opacity: 0.4" ></i>
            <div class="temp">{{temperature}}<sup>°C</sup></div>
        </div>
        <div style="clear: both;"></div>
    </li>
    {{/citySummary}}
</ul>
</body>
</html>
