<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="css/owfont-regular.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Today's Weather in these cities</title>
</head>
<body>
<h1>Weather Updates</h1>
<ul>
    {{#summary}}
    <li>
        <h2>{{city}}, {{country}}</h2>
        <div>
            <i class="owf owf-{{code}} owf-4x" style="opacity: 0.4"></i>
            <div class="temp">{{temperature}}<sup>°C</sup></div>
        </div>
        <div style="clear: both;"></div>
    </li>
    {{/summary}}
</ul>
<ul>
    <div>
        <form action="/api/weather/{city}}" name="cityweather"
              method="get">
            <li><label>Enter city:</label> <input type='text' name='city_name'/>
                <input type="submit" value="Submit"></li>
        </form>
    </div>
</ul>

</body>
</html>
